.u-center-text {
    text-align: center;
}
.u-mb-big {
    margin-bottom: 8rem;
}
.u-mb-mid {
    margin-bottom: 4rem;
}
.u-mb-small {
    margin-bottom: 1.5rem;
}
.gradient-bg-text{
    display: inline-block;
    background-image: linear-gradient(to right , $color-primary-light, $color-primary-dark);
    background-clip: text;
    color: transparent;
}
